body {
  font-family: Arial, sans-serif;
  background-color: #bea8a8;
  color: #7a6f6f;
  font-size: 20px;
  margin: 0;
  padding: 0;
}


.head {
  height: 1000px;
  position: relative;
}

.top_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  position: relative;
  z-index: 2;
  background-color:rgb(88, 85, 85) ;
}

.title_name {
  padding-left: 40px;
  font-family: "Optima", sans-serif;
  font-weight: bolder;
  font-size: 50px;
}

.title_name a {
  cursor: pointer;
  text-decoration: none;
}

.first_name {
  color: #fff;
}

.last_name {
  color: rgb(255, 91, 3);
}

.nav ul {
  font-family: Courier, monospace;
  list-style: none;
  display: flex;
  gap: 70px;
  margin: 0;
}

.nav li {
  border-bottom: none;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a::after {
  content: '';
  display: block;
  height: 4px;
  width: 100px;
  background-color: rgb(255, 91, 3);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav a:hover::after {
  transform: scaleX(1);
}

.profile_pic_hidden {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s, transform 0.5s;
  position: absolute;
  top: 0;
  right: 250px;
  height: 100%;
  width: auto;
  object-fit: cover;
  filter: drop-shadow(-60px -70px 250px rgb(80, 80, 80));
  z-index: 1;
  animation: slideInFromRight 1s ease-in-out forwards;
}


.profile_pic_visible {
  opacity: 1;
  transform: translateX(0);
  position: absolute;
  top: 0;
  right: 250px;
  height: 100%;
  width: auto;
  object-fit: cover;
  filter: drop-shadow(-60px -70px 250px rgb(80, 80, 80));
  z-index: 1;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  30% {
    opacity: 0.3;
    transform: translateX(70px);
  }
  60% {
    opacity: 0.6;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  30% {
    opacity: 0.3;
    transform: translateY(70px);
  }
  60% {
    opacity: 0.6;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.intro_hidden {
  opacity: 0;
  transform: translateY(100px);
  color: #fff;
  font-size: 20px;
  margin-top: 12%;
  margin-left: 45px;
  width: 40%;
  font-family: "Optima", sans-serif;
  animation: slideInFromBottom 1.5s ease-out;
}

.intro_visible {
  opacity: 1;
  transform: translateY(0);
  color: #fff;
  font-size: 20px;
  margin-top: 12%;
  margin-left: 45px;
  width: 40%;
  font-family: "Optima", sans-serif;
}

.expertise {
  font-size: 22px;
  margin-bottom: 40px;
}

.wellcome {
  margin-top: 20px;
  font-size: 80px;
}

.name {
  color: rgb(255, 91, 3);
  font-weight: bolder;
}

.body {
  height: fit-content;
  background-color: #f0f0f0;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.body.expanded {
  animation: expandHeight 1s ease;
}

@keyframes expandHeight {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 1000px; /* Adjust this value as needed */
    opacity: 1;
  }
}

.about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.aboutTitle {
  font-size: 35px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.about-pic {
  flex: 1;
  margin-top: 20px;
  position: absolute;
  top: 100px;
}

.about-pic img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-me-content {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  margin-left: 320px;
}

.about-info p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply the animation to the injected content */
.fadeInContent {
  animation: fadeIn 1s ease;
}

.about-links {
  display: flex;
  margin-top: 20px;
}

.about-links a {
  color: #555;
  text-decoration: none;
  transition: color 0.3s ease;
}

.about-links a:not(:last-child) {
  margin-right: 70px;
}

.about-links a::after {
  content: '';
  display: block;
  height: 4px;
  width: 100px;
  background-color: rgb(255, 91, 3);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.about-links a:hover::after,
.about-links a.active::after {
  transform: scaleX(1);
}

.about-links a:hover,
.about-links a.active {
  color: #333;
}

/* Updated styles for the creatively styled education section */
.education {
  padding: 100px 0;
  background-color: #f8f8f8;
  text-align: center;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 60px;
  letter-spacing: 1px;
}

.education-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.education-item {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 80%;
  max-width: 600px;
}

.education-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.education-content {
  text-align: left;
}

.university-name {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.date {
  font-size: 18px;
  color: #777;
  margin-bottom: 15px;
}

.degree {
  font-size: 24px;
  font-weight: bold;
  color: #555;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  color: #888;
  line-height: 1.6;
  margin-bottom: 0;
}

.skill_cont {
  padding: 100px;
  background-color: #f8f8f8;
}


.skills-item {
  margin-bottom: 20px;
}

.skill-bar {
  width: 100%;
  height: 10px;
  background-color: #d3d3d3;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  background-color: rgb(255, 91, 3);
  width: 0;
  position: absolute;
  border-radius: 5px;
  animation: fillAnimation 2s ease forwards;
}

.skill-left {
  height: 100%;
  background-color: #d3d3d3;
  position: absolute;
  border-radius: 5px;
}

.skills-item p {
  margin: 5px 0;
}

@keyframes fillAnimation {
  to {
    width: var(--skill-width, 100%);
  }
}

.contact-section {
  background-color: rgb(255, 91, 3);
  text-align: center;
  padding: 40px 0;
  padding-bottom: 100px;
}

.contact-social {
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 30px;
}

.contact-social a {
  display: inline-block;
  margin: 5px;
}

.contact-social img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.cont_title {
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 40px;
}

.contact-form {
  flex: 1;
  max-width: 400px;
  margin-left: 100px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #000000;
  white-space: nowrap;
}

.pro_title {
  font-family: 'Courier New', monospace;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.box {
  flex: 0 0 290px;
  position: relative;
  height: 400px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 30px 90px;
  transition: transform 0.3s;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.box:hover {
  transform: scale(1.1);
}

.image {
  width: 90%;
  height: 80%;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hover_content {
  max-width: 90%;
}

.hover_box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  transition: opacity 0.3s, transform 0.3s, bottom 0.3s, height 0.3s;
  overflow: hidden;
}

.box:not(:hover) .hover_box .title {
  opacity: 1;
}

.box:hover .hover_box {
  height: 60%;
}

.hover_box .title {
  max-width: 90%;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
  overflow: hidden;
  opacity: 0;
  font-size: 18px;
  font-weight: bold;
  transition: opacity 0.3s 0.3s;
  word-break: break-all;
}

.box:hover .hover_box .title {
  opacity: 1;
}

.hover_box .description {
  max-width: 90%;
  margin: 10px;
  overflow: hidden;
  opacity: 0;
  font-size: 14px;
  transition: opacity 0.3s 0.3s;
  word-wrap: break-word;
  white-space: normal;
}

.hover_box .sectors {
  max-width: 100%;
  margin: 10px;
  max-height: 100px;
  overflow: hidden;
  opacity: 0;
  font-size: 14px;
  transition: opacity 0.3s 0.3s;
  word-wrap: break-word;
  white-space: normal;
}

.box:hover .hover_box .description {
  opacity: 1;
}

.box:hover .hover_box .sectors {
  opacity: 1;
}

.read-more {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  border-radius: 8px;
  cursor: pointer;
  display: none;
}

.box:hover .hover_box .read-more {
  display: block;
}

.overflow-screen {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px 8px 0 0;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.project-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.overflow-screen .content .description {
  font-size: 16px;
  margin-bottom: 20px;
}

.feature-list {
  font-size: 16px;
}

.feature-list li {
  margin-bottom: 10px;
}

.awards {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 20px;
}

.results {
  font-size: 16px;
  font-weight: bold;
}

.overflow-screen.active {
  display: block;
  animation: slideUp 0.3s ease-out forwards;
}

.overflow-screen.closing {
  animation: slideDown 0.3s ease-out forwards;
}

@keyframes slideUp {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 80%;
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    height: 80%;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

.close-button {
  position: absolute;
  top: 15px;
  right: 50px;
  cursor: pointer;
}

.hype_git_button {
  width: fit-content;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  border-radius: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hype_git_button img {
  width: 30px;
  margin-right: 10px;
}

.hype_git_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hype_git_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.hype_git_button:hover span {
  padding-right: 25px;
}

.hype_git_button:hover span:after {
  opacity: 1;
  right: 0;
}

.hype_git_button_main {
  width: fit-content;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  border-radius: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 30px 90px;
}

.hype_git_button_main img {
  width: 30px;
  margin-right: 10px;
}

.hype_git_button_main span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hype_git_button_main span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.hype_git_button_main:hover span {
  padding-right: 25px;
}

.hype_git_button_main:hover span:after {
  opacity: 1;
  right: 0;
}

